<h1>
<%= link_to "Admin", admin_index_path %>
&gt;
Businesses
</h1>
<br/>

<% if @businesses_published.any? or @businesses_unpublished.any? %>
<table class="table">

<thead>
<tr>
  <th scope="col">ID</th>
  <th scope="col">Business Name</th>
  <th scope="col" colspan="2">Photo Gallery (size / edit)</th>
  <th scope="col" colspan="2">Social Media</th>
  <th scope="col">Edit</th>
  <th scope="col">Delete</th>
</tr>
</thead>

<tr>
  <th scope="row" colspan="4">Published</th>
</tr>
<% @businesses_published.each do |business| %>
<tr>
  <th scope="row"><%= business.id %></th>
  <td><%= link_to business.name, business_path(business) %></td>
  <td><%= business.gallery.size %></td>
  <td><%= link_to 'Edit Gallery', admin_edit_business_gallery_path(business), class: 'btn btn-default' %><br/></td>
  <td>
    <% business.business_social_media_sites.each do |business_social_media_site| %>
      <%= link_to(image_tag(business_social_media_site.social_media_site.logo, height: "48"), business_social_media_site.url, target: '_blank') %>
    <% end %>
  </td>
  <td><%= link_to 'Edit Social Media', admin_business_business_social_media_sites_path(business), class: 'btn btn-default' %><br/></td>
  <td><%= link_to 'Edit', edit_admin_business_path(business), class: 'btn btn-success' %></td>
  <td><%= button_to 'Delete', admin_business_path(business), method: :delete, class: 'btn btn-danger' %></td>
</tr>
<% end %>

<tr>
  <th scope="row" colspan="4">Unpublished</th>
</tr>
<% @businesses_unpublished.each do |business| %>
<tr>
  <th scope="row"><%= business.id %></th>
  <td><%= link_to business.name, business_path(business) %></td>
  <td><%= business.gallery.size %></td>
  <td><%= link_to 'Edit Gallery', admin_edit_business_gallery_path(business), class: 'btn btn-default' %><br/></td>
  <td>
    <% business.business_social_media_sites.each do |business_social_media_site| %>
      <%= link_to(image_tag(business_social_media_site.social_media_site.logo, height: "48"), business_social_media_site.url, target: '_blank') %>
    <% end %>
  </td>
  <td><%= link_to 'Edit Social Media', admin_business_business_social_media_sites_path(business), class: 'btn btn-default' %><br/></td>
  <td><%= link_to 'Edit', edit_admin_business_path(business), class: 'btn btn-success' %></td>
  <td><%= button_to 'Delete', admin_business_path(business), method: :delete, class: 'btn btn-danger' %></td>
</tr>
<% end %>

</table>
<% else %>
<p><i>No businesses to display.</i></p>
<% end %>

<p><%= link_to "Create new", new_admin_business_path %></p>
