<h1>
<%= link_to "Admin", admin_index_path %>
&gt;
Files
</h1>
<br/>

<% if @managed_files.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">File URL</th>
        <th scope="col">File Size</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Download</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @managed_files.each do |mfile| %>
        <tr>
          <td><%= mfile.name %></td>
          <td><%= link_to "#{request.protocol}#{request.host}#{mfile.streamed_filename_path}", mfile.streamed_filename_path %></td>
          <td><%= number_to_human_size(mfile.file.byte_size) %></td>
          <td><%= mfile.updated_at.strftime("%B %d, %Y %H:%M") %></td>
          <td><%= link_to 'Download', rails_blob_path(mfile.file), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_admin_file_path(mfile), class: 'btn btn-success' %></td>
          <td><%= button_to 'Delete', admin_file_path(mfile), method: :delete, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><i>No files to display.</i></p>
<% end %>

<%= link_to "Add New File", new_admin_file_path %>
