<div id="<%= dom_id temp_business %>">
  <p>
    <strong>Name:</strong>
    <%= temp_business.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= link_to temp_business.logo.filename, temp_business.logo if temp_business.logo.attached? %>
  </p>

  <p>
    <strong>Gallery:</strong>
    <% temp_business.gallery.each do |gallery| %>
      <div><%= link_to gallery.filename, gallery %></div>
    <% end %>
  </p>

  <p>
    <strong>Business hours:</strong>
    <%= temp_business.business_hours %>
  </p>

  <p>
    <strong>Catering hours:</strong>
    <%= temp_business.catering_hours %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= temp_business.address %>
  </p>

  <p>
    <strong>Website link:</strong>
    <%= temp_business.website_link %>
  </p>

  <p>
    <strong>Contact name description:</strong>
    <%= temp_business.contact_name_description %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= temp_business.contact_email %>
  </p>

  <p>
    <strong>Contact phone:</strong>
    <%= temp_business.contact_phone %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= temp_business.keywords %>
  </p>

  <p>
    <strong>Menu link:</strong>
    <%= temp_business.menu_link %>
  </p>

  <p>
    <strong>Offers delivery:</strong>
    <%= temp_business.offers_delivery %>
  </p>

  <p>
    <strong>Offers catering:</strong>
    <%= temp_business.offers_catering %>
  </p>

  <p>
    <strong>Accepts credit cards:</strong>
    <%= temp_business.accepts_credit_cards %>
  </p>

  <p>
    <strong>Vegetarian options:</strong>
    <%= temp_business.vegetarian_options %>
  </p>

  <p>
    <strong>Vegan options:</strong>
    <%= temp_business.vegan_options %>
  </p>

  <p>
    <strong>Gluten free options:</strong>
    <%= temp_business.gluten_free_options %>
  </p>

</div>
