<div class="csp-header text-center">
  <div class="csp-header-buttons">
  </div>
  <h2 class="text-center"><a href="/">CSP GoLocal</a></h2>
</div>

<p style="color: green"><%= notice %></p>

<div class="container px-4">
  <h2>Find A Restaurant</h2>
  <br/>
  <h4>Filter Options</h4>
  <div class="csp-search-keywords">
    <% @filter_keywords_to_display.each do |keyword, display| %>
    <a href="#"><span value="<%= keyword %>" class="badge"><%= display %></span></a>
    <% end %>
  </div>
  <br/>
</div>
<br/>
<div class="container px-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-5 gy-5">
    <% @temp_businesses.each do |temp_business| %>
    <div class="col">
      <a style="display:block; color: inherit; text-decoration: inherit;" href="/temp_businesses/<%= temp_business.id %>">
      <div class="p-3 border bg-light">
        <% if temp_business.logo.blank? %>
        <img src="/demophotos/1.png" alt="foobar" style="width:100%; height:250px; object-fit: cover;" />
        <% else %>
        <%= image_tag(temp_business.logo, :alt => "foobar", :style => "width:100%; height:250px; object-fit: cover;") %>
        <% end %>
        <h3><%= temp_business.name %></h3>
        <div class="csp-keywords">
          <% temp_business.generate_keywords_for_filter.each do |keyword| %>
          <span value="<%= keyword %>" class="badge"><%= @filter_keywords_to_display[keyword.to_sym] %></span>
          <% end %>
        </div>
      </div>
      </a>
    </div>
    <% end %>
  </div>
</div>


<br/>
<br/>
<hr>
<hr>
<hr>
<br/>
<br/>

<%= link_to "Create new", new_temp_business_path %>


<script>

window.onload = function () {
  $("div.csp-search-keywords a").on("click", function(event) {
    var target = event.target;
    $(target).toggleClass("keywords-selected");
    console.log("Toggle keyword: " + target.textContent + ", value=" + $(target).attr("value"));
  });
};
</script>
