<p style="color: green"><%= notice %></p>

<%= render @temp_business %>

<div>
  <%= link_to "Edit this temp business", edit_temp_business_path(@temp_business) %> |
  <%= link_to "Back to temp businesses", temp_businesses_path %>

  <%= button_to "Destroy this temp business", @temp_business, method: :delete %>
</div>
