<div class="csp-header text-center">
  <div class="csp-header-buttons">
<% unless @header_buttons.nil? %>
    <!-- <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a> -->
    <% @header_buttons.each do |item| %>
    <a href="<%= item[:link] %>"><span class="glyphicon <%= item[:icon]%>"></span></a>
    <% end %>
<% end %>
<% if logged_in? %>
    <a href="/login"><span class="glyphicon glyphicon-edit"></span></a>
<% end %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-4"><a href="/"><img src="<%= asset_path('golocal-logo.png')%>" height="120" /></a></div>
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-2"></div>
    </div>
    <div class="row csp-header-links">
      <div class="col-sm-12 col-md-2"><%= link_to "About Us", about_us_path %></div>
      <div class="col-sm-12 col-md-2"><%= link_to "Join GoLocal", about_join_golocal_path %></div>
      <div class="col-sm-12 col-md-2"><%= link_to "Catering Tips", about_catering_tips_path %></div>
      <div class="col-sm-12 col-md-2"><%= link_to "Our Partners", about_our_partners_path %></div>
      <div class="col-sm-12 col-md-2"><%= link_to "News", about_news_index_path %></div>
      <div class="col-sm-12 col-md-2"><%= link_to "Testimonials", about_testimonials_path %></div>
    </div>
  </div>
</div>
